@using WebBanHang.Models;

@model DonDH


@{
    ViewBag.Title = "DuyetDonHang";
    Layout = "~/Views/Layouts/AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="DH table">
        @{ IEnumerable<ChiTietDDH> lstChiTietDH = ViewBag.lstChiTietDH as IEnumerable<ChiTietDDH>;}
        <table class="table" id="table">
            <tr>
                <td colspan="4">
                    <table style="width:100%;">
                        <tr>
                            <td>Mã đơn hàng:<b style="color:red;">@Model.MaDDH @Html.Hidden("MaDDH", Model.MaDDH)</b></td>
                            <td>Mã khách hàng:<b style="color:red">@Model.KhachHang.MaKH</b></td>
                            <td>Tên khách hàng:<b style="color:red">@Model.KhachHang.TenKH</b></td>
                            <td>Ngày đặt: @Model.NgayDat.Value.ToString("yyyy/MM/dd")</td>
                            <td>Đã thanh toán @Html.EditorFor(model => model.DaThanhToan)</td>
                            <td>Đã giao @Html.EditorFor(model => model.TinhTrangGH)</td>
                        </tr>
                    </table>
                </td>
            </tr>


            <tr>
                <td><b>Sản Phẩm</b></td>
                <td><b>Hình ảnh</b></td>
                <td><b>Số Lượng</b></td>
                <td><b>Đơn giá</b></td>
            </tr>
            @foreach (var item in lstChiTietDH)
            {
                <tr>
                    <td>@item.SanPham.TenSP</td>
                    <td><img width="150" height="50" src="@Url.Content("~/Content/HinhSP/"+item.SanPham.HinhAnh)" /></td>
                    <td>@item.SoLuong</td>
                    <td>@item.DonGia</td>
                </tr>
            }
            <tr>
                <td align="right" colspan="4">Tổng số :@Model.ChiTietDDHs.Sum(n => n.SoLuong) sản phẩm</td>
            </tr>
            <tr>
                <td align="right" colspan="4">Tổng tiền : @Model.ChiTietDDHs.Sum(n => n.SanPham.DonGia).Value.ToString("#,##") VND</td>
            </tr>
        </table>
        <br /><br />
        <input type="button" value="In đơn hàng" id="btnInDonHang"/ >
        <input type="submit" value="Lưu đơn hàng" id="btnInDonHang" />
    </div>
}




