@using WebBanHang.Models;
@using PagedList.Mvc
@model PagedList.IPagedList<SanPham>
@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Layouts/shop.cshtml";
}

<div class="row product-categorie-box">
    <div class="tab-content">
       
            <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                <div class="row">
                    @foreach (var item in Model.OrderBy(n => n.DonGia))
                    {
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    <div class="type-lb">
                                        <p class="sale">Sale</p>
                                    </div>
                                    <img src="@Url.Content("~/Content/HinhSP/"+item.HinhAnh)" class="img-fluid" @*style="Width:150px;height:150px"*@ alt="Image">
                                    <div class="mask-icon">
                                        <ul>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                        </ul>
                                        <a class="cart" href="@Url.Action("ThemGH","GioHang", new { @MaSP=item.MaSP, @strURL= Request.Url.ToString()})">Add to Cart</a>

                                    </div>
                                </div>
                                <div class="why-text">
                                    <h4>@item.TenSP</h4>
                                    <h5> @item.DonGia.Value.ToString("#,##") VND</h5>
                                </div>
                            </div>
                        </div>
                    } </div>
            </div>
       
    </div>
</div>
<div class="dlink">
    Trang @(Model.PageCount< Model.PageNumber ? 0 :Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("SanPham", new { page = page, @MaLoaiSP = ViewBag.MaLoai, @MaNSX = ViewBag.MaNSX }))
</div>